<div class='row'>
  <h1 class="heading">Card Game</h1>
  <!--(spinner)-->
  <spinner [loading]="isLoading"></spinner>
</div>

<!--Game Settings-->
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Game Settings - Change in settings and Press Start New Game</b></div>
  <div class="panel-body">
    <form>
      <div class="form-group col-xs-6">
        <label>Number of Players:</label>
        <input name="playersNumber" type="number" min="{{minPlayersCount}}" max="{{maxPlayersCount}}" class="form-control" placeholder="# of Players" [(ngModel)]='playersCount'>
      </div>
      <div class="form-group col-xs-6">
        <label>Number of Rounds:</label>
        <input name="roundsNumber" type="number" min="{{minRoundsCount}}" max="{{maxRoundsCount}}" class="form-control" placeholder="# of Rounds" [(ngModel)]='roundsCount'>
      </div>
      <div class="form-group col-xs-12  divStartGame">
        <button type="button" class="btn btn-primary" (click)="initalizeCardGame()">Start New Game</button>
      </div>
    </form>
    <div class="form-group" *ngIf="true">
      <label>Current Round: <span class="label label-danger">{{currentRound}} of {{roundsCount}}</span></label>
      <label>Current Player: <span class="label label-danger">Player {{currentPlayer}} of {{playersCount}}</span></label>
    </div>
  </div>
</div>

<!--Game Results-->
<game-results [roundsCount]="roundsCount" [playersCount]="playersCount"></game-results>

<div *ngIf="isGameFinished" class="winningMsg">
  <label class="label label-success">Congratulations, winner is Player {{winner}}</label>
</div>
<!--Deck-->
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Player {{currentPlayer}} : Please click on any randow card from the below deck</b></div>
  <div class="panel-body">
    <!--Cards Container-->
    <div class="cards-container" *ngIf='!isLoading && cards'>
      <ng-container *ngFor="let card of cards; let i = index;">
        <div class="card-container" (click)="drawCard(card)">
          <div class="card-item">{{card.value}}</div>
          <img title="draw a card" alt="draw a card" src='/assets/images/card-dummy.png' class="card-image" [ngClass]="{ 'fade': (card.isOpened)}">
        </div>
      </ng-container>
    </div>
  </div>
</div>
